

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
</style>
</head>
<body style="background-color:#ffffe6">
<img src="D:\auxano_connections\static\2.png" align="left" style="width:10%" >
<h1 style="background-color: #e60000;color:white" align="center">Contact us</h1>
<p style="font-size:160%;color:#e60000;" align="center"><i>We'd love to hear from you:)</i></p>
<p style="font-size:130%;color:#e60000;" align="center">
<i>If you have any suggestions about the portal or any Queries , you can contact us anytime using the stated details...Thankyou!!</i>
</p>
<br><br><br><br><br><br><br>
<div class="row">
  <div class="column">
    <img src="D:\auxano_connections\static\802033_user_512x512.png" style="width:45%">
	<p>SUBIKSHA.G.B<br>Ph.no:9894999327<br>Email:subikshagayathribaskar@gmail.com<br>Information Technology</P>
  </div>
  <div class="column">
    <img src="D:\auxano_connections\static\802033_user_512x512.png" style="width:45%">
	<p>SWETHAA.S<br>Ph.no:9629688875<br>Email:swethaajuly26@gmail.com<br>Information Technology</p>
  </div>
  <div class="column">
    <img src="D:\auxano_connections\static\802033_user_512x512.png"  style="width:45%">
	<p>HARSHENI.S.K<br>Ph.no:6382384569<br>Email:harshenisk2001@gmail.com<br>Information Technology</p>
  </div>
  <div class="column">
    <img src="D:\auxano_connections\static\802033_user_512x512.png"  style="width:45%">
	<p>MANJARI.A<br>Ph.no:6384992711<br>Email:manjarialagar@gmail.com<br>Information Technology</p>
  </div>
  <div class="column">
    <img src="D:\auxano_connections\static\802033_user_512x512.png"  style="width:45%">
	<p>SOUGANTHIKA.S<br>Ph.no:8754040443<br>Email:souganthika21@gmail.com<br>Information Technology</p>
  </div>
  <div class="column">
    <img src="D:\auxano_connections\static\802033_user_512x512.png"  style="width:45%">
	<p>POOJA SHRI.V<br>Ph.no:9566909557<br>Email:poojaveerabadran@gmail.com<br>Information Technology</p>
  </div>		
</div>

</body>
</html>
