<html> 
   <body>  
      <form action = "/login" method = "post"> 
	  <title>Logout</title>
	  <h1 style="background-color: #e60000;color:white" align="center">AUXANO CONNECTIONS!!!</h1>
	  <p><img src="C:/reglog/images/logo.jpg" alt="TCE" align="middle"><p>
         <p><input type = "submit" value = "Logout" /></p> 
		 <style>
		 body {background-color: #ffffe6;}
		 p    {
		color: red;
		 text-align:center;
		 
	font-size:20px
		 }
		 input[type=submit] {
    width: 20em;  height: 2em;
}
		 
		 </style>
		 
      </form>       
   </body> 
</html> 